<div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col py-4">
            <div class="row">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-lg navbar-light">
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>

                    <div class="formdiv py-4 ml-5 pl-5 shadow">
                        <h4>Post Job</h4>
                        <hr class="line2" width="85%">

                        <form [formGroup]="postJobs" (ngSubmit)="post()">
                            <div class="form-group">
                                <label  class="form-label"><b>Job Title</b></label>
                                <input type="text"  placeholder="Please Enter job title" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobTitle" required>
                            </div>
                            <div class="form-group">
                                <label  class="form-label"><b>Job Summary</b></label>
                                <input type="text"  placeholder="Please Enter job summary" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobSummary" required>
                            </div>
 
                            <label for="">Location:</label><br>
                            <select name="locationId" class="form-control w-75"  formControlName="locationId">
                              <option  [value]="loc.id" *ngFor="let loc of jobslist">
                                {{loc.name}}
                              </option>
                            </select>
                           
                            <!-- <label for="">company:</label><br>
                            <select name="companyId" class="form-control w-75"  formControlName="companyId">
                              <option  [value]="loc.id" *ngFor="let loc of addCompany">
                                {{loc.legalName}}
                              </option>
                            </select> -->

                            <label for="">category:</label><br>
                            <select name="categoryId" class="form-control w-75"  formControlName="categoryId">
                              <option  [value]="loc.id" *ngFor="let loc of addCategory">
                                {{loc.name}}
                              </option>
                            </select>

                            <label for="">industry:</label><br>
                            <select name="industryId" class="form-control w-75"  formControlName="industryId">
                              <option  [value]="loc.id" *ngFor="let loc of addIndustry">
                                {{loc.name}}
                              </option>
                            </select>
                            
                            <div class="lastdiv d-flex  align-items-center">
                                <div class="mb-3 pl-5 d-md-block">
                                    <button class="btn btn-primary mt-1">Post Job</button>
                                    <!-- <a routerLink="../listjob"><p>List Job</p></a> -->
                                </div>
                            </div>
                            

                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

