<div class="col-md-10">
    <div class="row">
        <div class="col-md-9">
            <h5>Short List</h5>
        </div>
        <div class="col-md-1">
            <img src="./image/Group 5689.png" alt="">
        </div>
        <div class="col-md-2">
            <img src="./image/Group 33999.png" width="50rem" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 bg-light">
            <div class="row">
                <div class="col-md-12">
                    <input type="search" class="form-control input-sm input-md rounded-pill" placeholder="&#128269; Search by Job Title, Interview date@">
                </div>
            </div>
            <div class="col-md-11 ml-4 mt-3 bg-white rounded border">
                <div  class="row">
                    <div class="col-md-12 ">
                        <br>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div  class="row p-5">
                            <div class="col-md-3 mt-3">
                            <img class="w-75 float-right" src="./image/Group 1126.png" alt="">
                            </div>
                            <div class="col-md-7">
                            <span class="font-weight-bold">Soicial Media Assistent</span><br>
                            <span>Date of Interview:02/03/23 <br>
                            Location / Online:Online <br>
                            Time:10.30 AM</span>
                            </div>
                        </div>
                
                        <div class="row">
                            <div class="col-md-10 ">
                                <input type="button" class="rounded bg-primary border-0" value="View">
                            </div>
                        </div>
                        <div  class="row p-5">
                            <div class="col-md-3 mt-3">
                            <img class="w-75 float-right" src="./image/Logo.png" alt="">
                            </div>
                            <div class="col-md-7">
                                <span class="font-weight-bold">Brand Designer</span><br>
                                <span>Date of Interview : 12/03/23 <br>
                                Location / Online : Online <br>
                                Time : 10.00 AM</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 ">
                                <input type="button" class="rounded bg-primary border-0" value="View">
                             </div>
                        </div>
                            <div  class="row p-5">
                                <div class="col-md-3 mt-3 ">
                                    <img class="w-75 float-right" src="./image/Logo 27.png" alt="">
                                </div>
                                <div class="col-md-7">
                                <span class="font-weight-bold">Customer Manager</span><br>
                                <span>Date of Interview :20/02/23 <br>
                                Location / Online : Online <br>                                
                                Time : 10.30 AM</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 ">
                                     <input type="button" class="rounded bg-primary border-0" value="View">
                                </div>
                            </div>
                    </div>
                    <div class="col-md-5">
                        <img class="img-fluid mt-5" src="./image/professional1.png"  width="250rem" alt="">
                    </div>   
                </div>  
            </div>
        </div>
    </div>
</div>
