<div class="row">
  <div class=" col d-flex justify-content-end pl-1">
      <a class="text-decoration-none text-dark" [routerLink]="['addnew/remove']">
        <h5>Remove member</h5>
      </a>
  </div>
  <div class="col">
    <a class="text-dark text-decoration-none" [routerLink]="['addnew/list']">
      <h5>List of member</h5>
    </a>
  </div>
</div>
  <div class="row">
    <div class="col-md-10 border pt-3 card shadow rounded-5 mx-3 custom-form">
      <h5 class="form-title d-none d-sm-inline">Registration of new member</h5>
      <form action="" [formGroup]="registerMember" (ngSubmit)="addCompany()">
        <div class="row">
          <div class="col-md-6">
            <label class="form-label" for="firstName">First Name</label>
            <input type="text" placeholder="Enter firstname" class="form-control" formControlName="firstName">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="lastName">Last Name</label>
            <input type="text" placeholder="Enter lastname" class="form-control" formControlName="lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label" for="userName">User Name</label>
            <input type="text" placeholder="Enter user name" class="form-control" formControlName="userName">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="email">Email</label>
            <input type="text" placeholder="Enter email" class="form-control" formControlName="email">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="form-label" for="phone">Phone Number</label>
            <input type="text" placeholder="Enter phone number" class="form-control" formControlName="phone">
          </div>
          <div class="col-md-6">
            <label class="form-label" for="password">Password</label>
            <input type="text" placeholder="Enter password" class="form-control" formControlName="password">
          </div>
        </div>
        <div class="col d-flex justify-content-center pt-3 mb-3">
          <button type="submit" class="btn btn-secondary form-button">Register</button>
        </div>
      </form>
    </div>
  </div>