<!-- <div class="row"> -->
    <div class="col-md-6 text-md-end ">
      <span class="text-dark text-decoration-none">
        <a [routerLink]="['addnew/remove']"><h5>Remove member</h5></a>
      </span>
      
    </div>
    <div class="col-md-6">
      <a class="text-dark text-decoration-none" [routerLink]="['addnew/list']">
        <h5>List of member</h5>
      </a>
     
    </div>
    <div class="row">
      <div class="col-md-12 border  pt-3 border-dark rounded-5 mx-3 ">
        <h5 class="text-center pt-3">Registration of new member</h5>
          <div class="row">
            <div class="col-md-6">
              <form action="">
                <label for="">First Name</label><br>
                <input type="text" placeholder="firstname" style="height: 40px;">
              </form>
            </div>
            <div class="col-md-6">
              <form action="">
                <label  for="">Last Name</label>
                <input type="text" placeholder="lastname" style="height: 40px;">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form action="">
                <label for="">Email</label><br>
                <input type="text" placeholder="firstname" style="height: 40px;">
              </form>
            </div>
            <div class="col-md-6">
              <form action="">
                <label  for="">Phone number</label>
                <input type="text" placeholder="lastname" style="height: 40px;">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form action="">
                <label for="">Designation</label><br>
                <input type="text" placeholder="firstname" style="height: 40px;">
              </form>
            </div>
            <div class="col-md-6">
              <form action="">
                <label  for="">User ID</label><br>
                <input type="text" placeholder="lastname" style="height: 40px;">
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form action="">
                <label for="">Password</label><br>
                <input type="text" placeholder="firstname" style="height: 40px;">
              </form>
            </div>
            <div class="col-md-6">
              <form action="">
                <label  for="">Confirm password</label><br>
                <input type="text" placeholder="lastname" style="height: 40px;">
              </form>
            </div>
          </div>

          <div class="col d-flex justify-content-center pt-3 mb-3 ">
            <button type="button" class="btn btn-secondary">Register</button>
          </div>
        </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
