
<div class="row">
  <div class=" col d-flex justify-content-end">
    <span class="text-dark text-decoration-none">
      <a [routerLink]="['addnew/remove']"><h5>Remove member</h5></a>
    </span>
    
  </div>
  <div class="list col">
    <a class="text-dark text-decoration-none" [routerLink]="['addnew/list']">
      <h5>List of member</h5>
    </a>
   
  </div>
</div>
  <div class="row">
    <div class="col-md-10 border  pt-3 card shadow rounded-5 mx-3 ">
      <h5 class="text-center pt-3">Registration of new member</h5>
      <form action="">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5 ">
              <label for="">First Name</label><br>
              <input type="text" placeholder="firstname" style="height: 40px;">
          </div>
          <div class="col-md-5 ">
              <label  for="">Last Name</label><br>
              <input type="text" placeholder="lastname" style="height: 40px;">
          </div>
        </div>     
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5 ">
              <label for="">First Name</label><br>
              <input type="text" placeholder="firstname" style="height: 40px;">
          </div>
          <div class="col-md-5 ">
              <label  for="">Last Name</label><br>
              <input type="text" placeholder="lastname" style="height: 40px;">
          </div>
        </div>     
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5 ">
              <label for="">First Name</label><br>
              <input type="text" placeholder="firstname" style="height: 40px;">
          </div>
          <div class="col-md-5 ">
              <label  for="">Last Name</label><br>
              <input type="text" placeholder="lastname" style="height: 40px;">
          </div>
        </div>     
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5 ">
              <label for="">First Name</label><br>
              <input type="text" placeholder="firstname" style="height: 40px;">
          </div>
          <div class="col-md-5 ">
              <label  for="">Last Name</label><br>
              <input type="text" placeholder="lastname" style="height: 40px;">
          </div>
        </div>
        <div class="col d-flex justify-content-center pt-3 mb-3 ">
          <button type="button" class="btn btn-secondary">Register</button>
        </div>     
      </form>
     </div>
  </div>     