<div class="col-lg-6" style="background-color: rgb(241, 241, 242);">
    <p class="font-weight-bold pt-3">Rajeev M.V</p>
    <div class="row">
        <div class="col-md-9">
            <p class="text-secondary small">Online</p>
        </div>
        <div class="col-md-2">
            <img src="./image/Search.png" alt="">
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-7 rounded bg-primary">
            <p class="small">Thank you for expressing interest to join Aitrich
                Technologies. To get you started with your application
                we will ask some questions.</p>
                <div class="row">
                    <div class="col-md-7"></div>
                    <div class="col-md-5">
                        <span class="text-white small">10:56 AM</span>
                        <img src="./image/dee.png" class="float-right" alt="">
                    </div>
                </div>
    
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 rounded" style="background-color: rgb(195, 195, 195);">
            <span class="text-white small">Proceed <br> 10:56 AM</span>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-7 rounded bg-primary">
            <p class="small"> Your Current Location</p>
                <div class="row">
                    <div class="col-sm-7"></div>
                    <div class="col-sm-5">
                        <span class="text-white small">10:56 AM</span>
                        <img src="./image/dee.png" class="float-right" alt="">
                    </div>
                </div>
    
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 rounded" style="background-color: rgb(195, 195, 195);">
            <span class="text-white small">Bangaloor <br> 10:56 AM</span>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <input class="border-0 rounded" type="search" size="47rem" placeholder="Type your message here" >
        </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-12 col-lg-6  p-0">
    <div class="box bg-primary">
        <div class="footer-img">
        </div>
    </div>
    </div>
    </div>
