    <div class="row">
        <ng-container *ngFor="let list of getapplicats">
          <div class="card ml-3 mt-3 pt-2 pl-3 pr-3 custom-card">
            <p class="member-info"><b>{{list.seekerUserName}}</b></p>
            <p class="member-info">{{list.jobPostJobTitle}}</p>
            <p class="member-info">{{list.resumeTitle}}</p>
            <p class="member-info">{{list.coverLetter}}</p>
            <p class="member-info">{{list.datesubmitted}}</p>
            <div class="d-flex justify-content-end">
                <a [routerLink]="['./applicants', list.id]">
                <button (click)="getId(list)" class="btn w-100 border-0 text-white rounded">Schedule</button>
                </a>
            </div>
          </div>
        </ng-container>
      </div>