<ul class="nav nav-pills flex-column mb-sm-auto mt-5 align-items-center align-items-sm-start pl-3" id="menu">
  <li class="nav-item mt-2" (click)="navigatetoDashboard()">
      <a  class="nav-link align-middle px-0">
        <i class="  bi bi-grid-fill text-white " ></i>
        <span class="ms-2 d-none d-sm-inline  pl-1 text-white">Dashboard</span>
      </a>
  </li><br>
  <li class="mt-2"(click)="navigatetoJobs()">
      <a  class="nav-link px-0 align-middle">
        <i class=" bi bi-briefcase-fill text-white" ></i>
        <span class="ms-2 d-none d-sm-inline  pl-1 text-white">Jobs</span> </a>
      
  </li><br>
  <li class="mt-2" (click)="navigatetoapplication()">
      <a  class="nav-link px-0 align-middle">
        <i class="  bi bi-file-earmark-text-fill text-white"></i>
        <span class="ms-1 d-none d-sm-inline pl-1 text-white">Application</span>
        </a>
  </li><br>
  <li class="mt-2"(click)="navigatetoInterview()">
      <a   class="nav-link px-0 align-middle text-white ">
        <i class="  bi bi-file-text-fill text-white" ></i>
        <span class="ms-1 d-none d-sm-inline pl-1">Interview</span>
      </a>
      
  </li><br>
  <li class="mt-2"(click)="navigatetoMessages()">
      <a  class="nav-link px-0 align-middle text-white">
        <i class="  bi bi-chat-square-dots-fill text-white" ></i>
          <span class="ms-1 d-none d-sm-inline pl-1">Messages</span>
      </a>
  </li><br>
  <li class="mt-2"(click)="navigatetosettings()">
      <a  class="nav-link px-0 align-middle text-white">
        <i class="bi bi-gear-fill text-white"></i>
        <span class="ms-1 d-none d-sm-inline pl-1">Settings</span>
      </a>
  </li><br>
  <li class="mt-2"(click)="navigatetocompany()">
    <a  class="nav-link px-0 align-middle text-white">
      <i class="bi bi-building"></i>
      <span class="ms-1 d-none d-sm-inline pl-1">Company</span>
    </a>
</li><br>
  <li class="mt-2"(click)="navigatetoAddnew()">
      <a  class="nav-link px-0 align-middle text-white">
        <i class="bi bi-person-plus-fill text-white"></i>
        <span class="d-none d-sm-inline pl-1">Add new</span>
      </a>
  </li>
</ul>