<div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col py-4">
            <div class="row">
                <div class="col-md-12">

                    <div class="formdiv py-4 ml-5 pl-5 shadow">
                        <h4>Update Job</h4>
                        <hr class="line2" width="85%">

                        <form [formGroup]="UpdateJobs" (ngSubmit)="updateJob()">
                            <div class="form-group">
                                <label  class="form-label"><b>Job Title</b></label>
                                <input type="text" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobTitle" required name="jobTitle" >
                            </div>
                            <div class="form-group">
                                <label  class="form-label"><b>Job Summary</b></label>
                                <input type="text"  placeholder="" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobSummary" required name="jobSummary">
                            </div>

                            <div class="form-group">
                                <label for="">Location:</label><br>
                                <input type="text"  placeholder="" class="form-control bg-light shadow-sm border-0 w-75" formControlName="locationId" required name="locationId">
                            </div>

                            <div class="form-group">
                                <label for="">category:</label><br>
                                <input type="text"  placeholder="" class="form-control bg-light shadow-sm border-0 w-75" formControlName="categoryId" required name="categoryId">
                            </div>

                            <div class="form-group">
                                <label for="">industry:</label><br>
                                <input type="text"  placeholder="" class="form-control bg-light shadow-sm border-0 w-75" formControlName="industryId" required name="industryId">
                            </div>
                            
                            <div class="lastdiv d-flex  align-items-center">
                                <div class="mb-3 pl-5 d-md-block">
                                    <button class="btn btn-primary mt-1">Update Job</button>
                                    
                                </div>
                            </div>
                            

                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>
</div>

