<div class="container-fluid">
<div class="row">
    <div class="col-md-5">
        
        <div class="div-1">
            <div class="d-block mx-auto text-center pt-3">
                <div><img class="img-fluid" src="images/m2.png" alt=""></div>
                <div class="pt-2"><span><b>Job Provider/Company member</b></span></div>
                <div class="pt-2"><span class="text-secondar">Company Name</span></div>
                <div class="pt-2"><span class="text-secondary">Designation</span></div>
            </div>
            <div class="d-block pt-5 mt-3 pl-5 pb-5">
                <div class="pt-3"><i class="text-primary bi bi-envelope-fill"></i><span class="text-secondar pl-4">Provider@gmail.com</span></div>
                <div class="pt-3"><i class="text-primary bi bi-telephone-fill"></i><span class="text-secondar pl-4">8137 8056 61</span></div>
                <div class="pt-3"><i class="text-primary bi bi-geo-alt-fill"></i><span class="text-secondar pl-4">los angles, usa</span></div>
            </div>
            <hr width="90%">
            <div class="d-flex flex-row-reverse pr-4"><i class="text-secondary bi bi-pencil-square"></i></div>
        </div>

        <div class="div-2 mt-3">
            <div class="d-block pl-5">
                <div><span><b>About Me</b></span></div>
                <div class="pt-4 pb-5 mb-5"><span class="text-secondary">Hardworking, dedicated candidate with <br>
                    professional qualification in IT, seeking an <br>
                    opportunity to work with a growth oriented <br>
                    organization on a real time software <br>
                    development project</span>
                </div>
            </div>
            <hr width="90%">
            <div class="d-flex flex-row-reverse pr-4"><i class="text-secondary bi bi-pencil-square"></i></div>
        </div>

    </div>

    <div class="col-md-7 ">
        
        <div class="div-3">
            <div class="pl-3"><i class="text-primary bi bi-globe" width="50px"></i><span class="pl-4"><b>Languages</b></span></div>
            <ul class="ml-4 pt-4 pb-5 mb-2">
               <li>Operating Systems: Windows 9x/NT/2000, DOS/Unix/LinuxIDE Tools: <br>
                JBuilderDatopases: PL/SQLLanguages: Java, C, C++, C#, Asp.Net PHPWeb <br>
                Technologies: HTML, JSP, Servlets, Struts Framework, PhotoshopApplication <br>
                 Servers: BEA Weblogic7.0Web Servers: Tomcat 5.0, Apache</li> 
            </ul>
            <hr width="90%">
            <div class="d-flex flex-row-reverse pr-4"><i class="text-secondary bi bi-pencil-square"></i></div>
        </div>

        <div class="div-3 mt-4">
            <div class="pl-3"><i class="text-primary bi bi-mortarboard-fill"></i><span class="pl-4"><b>Education</b></span></div>
            <div class="d-block ml-5 pt-4 pb-5 mb-2">
                <div><span>Bachelor of Arts Design</span><span class="float-right">Nov 13-Dec 17</span></div>
                <div><span>Field & Fort University</span><span class="float-right">Mansfield, Ohio</span></div> 
                <div><span>Top 10 percentile of the class</span></div> 
                <div><span>Master of Arts - Graphic Design</span><span class="float-right">Texas University</span></div>  
            </div>
            <hr width="90%">
            <div class="d-flex flex-row-reverse pr-4"><i class="text-secondary bi bi-pencil-square"></i></div>
        </div>

        <div class="div-3 mt-4">
            <div class="pl-3"><i class="text-primary bi bi-globe" width="50px"></i><span class="pl-4"><b>Languages</b></span></div>
            <ul class="ml-4 pt-4 pb-5 mb-2">
               <li>Advertising Speciality Institute, San Francisco, TX - Graphic Designer <br>Dec 18-June 20</li>
               <li>Advertising Age - Graphic Design Intern <br> Jan '21-Nov '22</li> 
            </ul>
            <hr width="90%">
            <div class="d-flex flex-row-reverse pr-4"><i class="text-secondary bi bi-pencil-square"></i></div>
        </div> 

    </div>
    <div class="col">
        <div class="row py-5">
            <div class="col-3 d-none d-sm-inline d-md-inline"></div>
            <div class="col-lg-3 col-md-3 ">
                <div class="update-btn mx-auto text-center pt-2">
                    <i class="text-primary bi bi-file-earmark-text-fill"></i><span class="text-primary pl-3">Update</span>
                </div>
            </div>
            <div class="col-3 d-none d-sm-inline d-md-inline"></div>
            <div class="col-3 d-none d-sm-inline d-md-inline"></div>
        </div>
    </div>

</div>
</div>