 <div class="row flex-nowrap">
    <div class="col-md-3">
        <h4 style="font-family: Georgia, serif;"><b>Find Jobs</b></h4>
    </div>

    <div class="col-md-2">
         
        <a routerLink="./listjob"><h6 style="color: black; text-decoration: none;">List Job</h6></a>
   </div>

    <div class="col-md-2">
         
         <a routerLink="./postjob"><h6 style="color: black;">Post job</h6></a>
    </div>
    <!-- <div class="col-md-2">
        <a href=""><h6 style="color: black;">Update</h6></a>
    </div> -->
</div>
<div class="row">
    <div class=" col-lg-7 bg-light">
        <input type="search" placeholder="Search by Name, Member ID Designation" class="form-control input-md input-sm rounded-pill">
        <div class="row">
            <div class="col-md-7 mt-5">
                <p class="">Showing 106 Jobs</p>
            </div>
            <div class="col-md-2 mt-5">
                <p class="text-secondary">Sort by:</p>
            </div>
            <div class="col-md-3 mt-5">
                <!-- <p>Newest Jobs <img src="./image/Arrow - Down 2 (2).png" alt=""></p> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <!-- <img src="./image/shoppee.png" alt="image"> -->
            </div>
            <div class="col-md-8">
                <h6>UI/UX Designer</h6>
                <p class="text-primary small">Shoppee . Location</p>
            </div>
            <div class="col-md-2">
                <!-- <img src="./image/archive-minus.png" alt=""> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UI/UX Designer to turn our software 
                    into easy-to-use products for our clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <!-- <img src="./image/amazon.png" alt="image"> -->
            </div>
            <div class="col-md-8">
                <h6>Product Desiner</h6>
                <p class="text-primary small">Amazon . Location</p>
            </div>
            <div class="col-md-2">
                <!-- <img src="./image/Group 569.png" alt=""> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Product Designer responsibilities include defining product specifications, 
                    creating digital or print drawings and designing fully-functional products.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <!-- <img src="./image/Rectangle 14 (1).png" alt="image"> -->
            </div>
            <div class="col-md-8">
                <h6>UX Designer</h6>
                <p class="text-primary small">Ebay . Location</p>
            </div>
            <div class="col-md-2">
                <!-- <img src="./image/Group 569.png" alt=""> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UX Designer to design software and platforms that 
                    meet people's needs. You will combine interfaces and workflows to 
                    enhance user experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>



    </div>
    <div class="col-md-5">
        <!-- <img src="./image/professional1.png"  height="585px" width="300px" alt=""> -->
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col py-4">
            <div class="row">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-lg navbar-light">
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>

                    <div class="formdiv py-4 ml-5 pl-5 shadow">
                        <h4>Post Job</h4>
                        <hr class="line2" width="85%">

                        <form [formGroup]="postJobs" (ngSubmit)="post()">
                            <div class="form-group">
                                <label  class="form-label"><b>Job Title</b></label>
                                <input type="text"  placeholder="Please Enter job title" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobTitle" required>
                            </div>
                            <div class="form-group">
                                <label  class="form-label"><b>Job Summary</b></label>
                                <input type="text"  placeholder="Please Enter job summary" class="form-control bg-light shadow-sm border-0 w-75" formControlName="jobSummary" required>
                            </div>
 
                            <label for="">Location:</label><br>
                            <select name="locationId" class="form-control w-75"  formControlName="locationId">
                              <option  [value]="loc.id" *ngFor="let loc of jobslist">
                                {{loc.name}}
                              </option>
                            </select>
                           
                            <label for="">company:</label><br>
                            <select name="companyId" class="form-control w-75"  formControlName="companyId">
                              <option  [value]="loc.id" *ngFor="let loc of addCompany">
                                {{loc.legalName}}
                              </option>
                            </select>

                            <label for="">category:</label><br>
                            <select name="categoryId" class="form-control w-75"  formControlName="categoryId">
                              <option  [value]="loc.id" *ngFor="let loc of addCategory">
                                {{loc.name}}
                              </option>
                            </select>

                            <label for="">industry:</label><br>
                            <select name="industryId" class="form-control w-75"  formControlName="industryId">
                              <option  [value]="loc.id" *ngFor="let loc of addIndustry">
                                {{loc.name}}
                              </option>
                            </select>
                            
                            <div class="lastdiv d-flex  align-items-center">
                                <div class="mb-3 pl-5 d-md-block">
                                    <button class="btn btn-primary mt-1">Post Job</button>
                                </div>
                            </div>
                            

                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>
</div> -->
<!-- <div *ngFor="let list of jobslist">
    <li>{{list.name}}</li>

</div> -->