<div class="row">
    <div class="col-md-2">
        <h6>Find Jobs</h6>
    </div>
</div>
<div class="row">
    <div class=" col-lg-7 bg-light">
        <input type="search" placeholder="Search by Name, Member ID Designation" class="form-control input-md input-sm rounded-pill">
        <div class="row">
            <div class="col-md-7 mt-5">
                <p class="">Showing 106 Jobs</p>
            </div>
            <div class="col-md-2 mt-5">
                <p class="text-secondary">Sort by:</p>
            </div>
            <div class="col-md-3 mt-5">
                <p>Newest Jobs <img src="./image/Arrow - Down 2 (2).png" alt=""></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <img src="./image/shoppee.png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>UI/UX Designer</h6>
                <p class="text-primary small">Shoppee . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/archive-minus.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UI/UX Designer to turn our software 
                    into easy-to-use products for our clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <img src="./image/amazon.png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>Product Desiner</h6>
                <p class="text-primary small">Amazon . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/Group 569.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Product Designer responsibilities include defining product specifications, 
                    creating digital or print drawings and designing fully-functional products.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <img src="./image/Rectangle 14 (1).png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>UX Designer</h6>
                <p class="text-primary small">Ebay . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/Group 569.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UX Designer to design software and platforms that 
                    meet people's needs. You will combine interfaces and workflows to 
                    enhance user experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>



    </div>
    <div class="col-md-5">
        <img src="./image/professional1.png"  height="585px" width="300px" alt="">
    </div>
</div>

