<div class="container-fluid">
    <div class="row flex-nowrap">

        <div class="col py-4">
            <div class="row">
                <div class="col-md-12">

                    <nav class="navbar navbar-expand-lg navbar-light">
                        
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                          <ul class="navbar-nav ali ml-5 pl-5">
                            <li class="nav-item pl-5 ml-4">
                              <a class="nav-link" [routerLink]="['settings/companyprofile']">Company Profile </a>
                            </li>
                            <li class="nav-item pl-5 ml-4">
                              <a class="nav-link" [routerLink]="['settings/updateprofile']">Update Profile</a>
                            </li>
                            <li class="nav-item pl-5 ml-4">
                              <a class="nav-link" [routerLink]="['settings/changeusername']">Change Username</a>
                            </li>
                            <li class="nav-item pl-5 ml-4 active">
                              <a class="nav-link" [routerLink]="['settings/changepassword']">Change Password</a>
                            </li>
                          </ul>
                        </div>
                    </nav>

                    <div class="formdiv py-4 ml-5 pl-5 shadow">
                        <div class="h4">Password Change</div>
                        <hr class="line2" width="85%">

                        <form [formGroup]="changepasswordForm" (ngSubmit)="postData()">
                            <div class="form-group">
                                <label for="id" class="form-label"><b>User ID</b></label>
                                <input type="text" id="uid" placeholder="Please enter your user id" class="form-control bg-light shadow-sm border-0 w-75" formControlName="userid" required>
                                <span *ngIf="changepasswordForm.controls['userid'].touched && changepasswordForm.controls['userid'].hasError('required')" class="text-danger"> Enter User ID</span>
                            </div>
                            <div class="form-group">
                                <label for="oldpassword" class="form-label"><b>Old Password</b></label>
                                <input type="text" id="opass" placeholder="Please enter your oldpassword" class="form-control bg-light shadow-sm border-0 w-75" formControlName="oldpass" required> 
                                <span *ngIf="changepasswordForm.controls['oldpass'].touched && changepasswordForm.controls['oldpass'].hasError('required')" class="text-danger"> Enter Your Old password</span>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label"><b>New Password</b></label>
                                <div style="display: flex;flex-direction: row;"><input [type]="password" id="npass" placeholder="Please enter your New password" class="form-control bg-light shadow-sm border-0 w-75" formControlName="newpass" required><button (click)="onClick()" style="border-radius: 6px;">
                                    <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                  </button></div>
                                <span *ngIf="changepasswordForm.controls['newpass'].touched && changepasswordForm.controls['newpass'].hasError('pattern')" class="text-danger"> minimum 10 character required</span>
                            </div>
                            <div class="form-group">
                                <label for="phnnumber" class="form-label"><b>Confirm Password</b></label>
                                <div style="display: flex;flex-direction: row;"><input [type]="password" id="cpass" placeholder="Please enter your password again" class="form-control bg-light shadow-sm border-0 w-75" formControlName="confirmpass" required><button (click)="onClick()" style="border-radius: 6px;">
                                    <i class="bi bi-eye" aria-hidden="true" *ngIf="!show"></i>
                                    <i class="bi bi-eye-slash" aria-hidden="true" *ngIf="show"></i>
                                  </button></div>
                                <span *ngIf="changepasswordForm.controls['confirmpass'].touched && changepasswordForm.controls['confirmpass'].hasError('pattern')" class="text-danger"> minimum 10 character required</span>
                                
                            </div>
                            <div class="lastdiv d-flex  align-items-center">
                                <div class="mb-3 pl-5 d-md-block">
                                    <button class="btn btn-primary" [disabled]="changepasswordForm.invalid">Update Password</button>
                                </div>
                                <div class="mb-3 pl-5 d-md-block d-none d-sm-inline">
                                    <a class="text-decoration-none text-dark" href="#">Push Notification</a>
                                    <img src="images/Group 14.png" alt="">
                                </div>
                                <div class="mb-3 pl-5 d-md-block d-none d-sm-inline d-md-inline">
                                    <a class="text-decoration-none text-dark" href="#">Email Notification</a>
                                    <img src="images/Group 14.png" alt="">
                                </div>
                            </div>
                            

                        </form>

                    </div>

                </div>
            </div>
        </div>



    </div>
</div>
    


