<div class="container-fluid">
<div class="row g-0">
    <div>
        <p class="text-primary font-weight-bold">Find Jobseeker</p>
    </div>
</div>
<div class="row g-0">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <input type="search" placeholder=" &#128269; Search by Job Title, Qualification, Industry" class=" form-control input-md input-sm border-primary rounded-pill">
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Location</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Experience</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Categori</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Skills</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-2 ">
        <button class="border-0 ms  text-white rounded" style="background-color: rgb(61, 53, 197); width: 10rem;">Interviewschedule<br>8</button>  
    </div>
    <div class="col-md-2 " >
        <button class="border-0 text-white rounded" style="background-color: rgb(61, 53, 197); width: 10rem; margin-left: 3rem;">Applicationrecieved<br>124</button>  
    </div>
    <div class="col-md-2 ms-3">
        <button class="border-0 text-white rounded" style="background-color: rgb(61, 53, 197); width: 10rem; margin-left: 6rem;"> total job  Posted<br>49</button>  
    </div>
</div>

<img src="./image/smiling.png" width="900rem" class="p-4 img-fluid" alt="image">
 

</div>
<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita, odit omnis nisi ipsum excepturi minus voluptate illo placeat unde cum mollitia ducimus neque repellat debitis. Hic magni esse ab. -->
 <!-- Interview -->
    <!-- <div class="row">
        <div class="col-md-6">
            <p class="font-weight-bold">Short List</p>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="search" class="border border-primary w-75 input-sm input-md rounded-pill" placeholder="&#128269; Search by Job Title, Interview date@">
            </div>
        </div>     
            <div class="col-md-10 bg-white rounded mt-2">
                    <div class="col-md-6 mt-3">
                        <div class="col-md-3">
                            <img class="w-75 float-right" src="./image/Logo 27.png" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                    Location / Online:Online <br>
                                    Time:10.30 AM</span>
                                    <br>
                                    <button  class="bg-primary border-0 rounded">View</button>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                Location / Online:Online <br>
                                Time:10.30 AM</span>
                                <br>
                                <button  class="bg-primary border-0 rounded">View</button>
                                </div> 
                               </div> 
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                Location / Online:Online <br>
                                Time:10.30 AM</span>
                                <br>
                                <button  class="bg-primary border-0 rounded">View</button>
                                </div> 
                            </div>
                            
                    </div>   
                                  
                            
                            
            </div>
             -->