<!-- <div class="row bg-light">
    <div class="col-md-5">
      <p class="text-primary font-weight-bold text-right">Find Jobseeker</p>
    </div>
</div>
<div class="row bg-light">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <input type="search" placeholder=" &#128269; Search by Job Title, Qualification, Industry" class="form-control input-md input-sm border-primary rounded-pill">
    </div>
</div>
<div class="row bg-light">
    <div class="col-md-2">
    </div>
</div>


<div class="row py-3 bg-light">
<div class="col-sm-2"></div>
<div class="col-md-8 m-2 p-0">
    <div class="row ms-2" style=" margin-left: 2rem;">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary ">Location</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary ">Experience</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary ">Categori</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary ">Skills</button>
        </div>
        
    </div>
</div>
</div>

<div class="row  bg-light py-3">
<div class="col-sm-2"></div>
<div class="col-sm-2 ml-4 m-1 rounded h-25" style="background-color: rgb(61, 53, 197);">
    <div class="row">
        <div class="col-md-6">
            <span class="text-white">Interview schedule </span>
        </div>
        <div class="col-md-3">
            <h4 class="text-white text-right mt-3">8</h4>
        </div>   
    </div>    
</div>
<div class="col-sm-2 m-1 ml-4 rounded h-25" style="background-color: rgb(61, 53, 197);">
    <div class="row">
        <div class="col-md-5">
            <span class="text-white">Application recieved </span>
        </div>
        <div class="col-md-2">
            <h4 class="text-white text-right mt-3">124</h4>
        </div>   
    </div>    
</div>
<div class="col-sm-2 m-1 ml-4 rounded h-25" style="background-color: rgb(61, 53, 197);">
    <div class="row">
        <div class="col-md-6">
            <span class="text-white">TotalJob <br>Posted</span>
        </div>
        <div class="col-md-2">
            <h4 class="text-white text-right mt-3">49</h4>
        </div>   
    </div>    
</div>


</div>



<div class="row py-5 bg-light">
<div class="col-1">

</div>
<div class="col-lg-10 ">
<img src="./image/smiling.png" width="900rem" class="p-4 img-fluid" alt="image">
</div>
<div class="col-1">
</div> -->
<div class="row">
    <div>
        <p class="text-primary font-weight-bold">Find Jobseeker</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <input type="search" placeholder=" &#128269; Search by Job Title, Qualification, Industry" class="form-control input-md input-sm  border-primary rounded-pill">
    </div>
</div>

