<!-- <div class="row g-0">
    <div>
        <p class="text-primary font-weight-bold">Find Jobseeker</p>
    </div>
</div>
<div class="row g-0">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <input type="search" placeholder=" &#128269; Search by Job Title, Qualification, Industry" class=" form-control input-md input-sm border-primary rounded-pill">
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Location</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Experience</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Categori</button>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary w-100">Skills</button>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <button class="border-0 text-white rounded" style="background-color: rgb(61, 53, 197);">Interview schedule<br>8</button>  
    </div>
    <div class="col-md-2">
        <button class="border-0 text-white rounded" style="background-color: rgb(61, 53, 197);">Applicationrecieved<br>124</button>  
    </div>
    <div class="col-md-2">
        <button class="border-0 text-white rounded" style="background-color: rgb(61, 53, 197);"> total job  Posted<br>49</button>  
    </div>
</div> -->

<!-- <img src="./image/smiling.png" width="900rem" class="p-4 img-fluid" alt="image"> -->




  <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem delectus quaerat eos expedita quisquam quas nulla! Amet veniam sequi sit! Quam officiis odio libero velit, sapiente laudantium commodi fugiat eligendi. -->
<!-- findjobs -->

<!-- <div class="row">
    <div class="col-md-2">
        <h6>Find Jobs</h6>
    </div>
</div>
<div class="row">
    <div class=" col-lg-7 bg-light">
        <input type="search" placeholder="Search by Name, Member ID Designation" class="form-control input-md input-sm rounded-pill">
        <div class="row">
            <div class="col-md-7 mt-5">
                <p class="">Showing 106 Jobs</p>
            </div>
            <div class="col-md-2 mt-5">
                <p class="text-secondary">Sort by:</p>
            </div>
            <div class="col-md-3 mt-5">
                <p>Newest Jobs <img src="./image/Arrow - Down 2 (2).png" alt=""></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 ">
                <img src="./image/shoppee.png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>UI/UX Designer</h6>
                <p class="text-primary small">Shoppee . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/archive-minus.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UI/UX Designer to turn our software 
                    into easy-to-use products for our clients.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <img src="./image/amazon.png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>Product Desiner</h6>
                <p class="text-primary small">Amazon . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/Group 569.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">Product Designer responsibilities include defining product specifications, 
                    creating digital or print drawings and designing fully-functional products.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2 ">
                <img src="./image/Rectangle 14 (1).png" alt="image">
            </div>
            <div class="col-md-8">
                <h6>UX Designer</h6>
                <p class="text-primary small">Ebay . Location</p>
            </div>
            <div class="col-md-2">
                <img src="./image/Group 569.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-secondary">We are looking for a UX Designer to design software and platforms that 
                    meet people's needs. You will combine interfaces and workflows to 
                    enhance user experience.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Full Time">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="$3000-$50000">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Indonesia">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Onsite">
                    <input class="rounded-pill  border-0" style="background-color: rgb(255, 204, 143);" type="button" value="Remove">

                </form>
            </div>
        </div>



    </div>
    <div class="col-md-5">
        <img src="./image/professional1.png"  height="585px" width="300px" alt="">
    </div>
</div> -->

              <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, totam! Illum natus corrupti adipisci, recusandae laborum obcaecati saepe vitae libero quasi aspernatur ullam atque enim debitis, iste exercitationem harum accusantium!   -->

<!-- findapplication -->
<!-- <div class="col-md-10">
    <div class="row">
        <div class="container ">
                <div class="row ">
                    <div class="col-md-6">
                        <p class="font-weight-bold">FIND APPLICATION</p>
                    </div>
                </div>
                </div>   
                <div class="row ">
                    <input type="search" placeholder="Search by Qualification, Experience" class="form-control input-md input-sm border-dark rounded-pill">
                </div> 
            <div class="row mt-1">
                <div class="col-lg-7 bg-light">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="p-3"></p>
                            </div>
                            <div class="col-md-12">
                                <p class="p-3 ">Showing 100 Applications</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="./image/m1.png" class="image-fluid" alt="image">
                            </div>
                            <div class="col-sm-7 px-3">
                                <p class="font-weight-bold">Alex</p>
                                <p class="text-secondary">. Location</p>
                                <p class="  small">Qualification : MBA <br>
                                    Experience : 2 YEARS</p>
                            </div>
                            <div class="col-md-1">
                                <img src="./image/Group 569.png" width="25" alt="image">
                            </div>
                            <div class="col-md-5 p-2"></div>
                            <div class="col-md-2">
                                <input class="rounded-pill bg-primary border-0"  type="button" value="View">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 p-2">
                                <p></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1">
                                <img src="./image/m2.png" class="image-fluid" alt="image">
                            </div>
                            <div class="col-sm-7 ">
                                <p class="font-weight-bold">Ameya</p>
                                <p class="text-secondary">. Location</p>
                                <p class="  small">Qualification : B.TECH <br>
                                    Experience : 5 YEARS</p>
                            </div>                 
                            <div class="col-md-1">
                                <img src="./image/Group 569.png" width="25" alt="image">
                            </div>
                            <div class="col-md-5 p-2"></div>
                            <div class="col-md-2">
                                <input class="rounded-pill bg-primary border-0"  type="button" value="View">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 p-2">
                                <p></p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-1">
                                <img src="./image/m1.png" class="image-fluid" alt="image">
                            </div>
                            <div class="col-sm-7 ">
                                <p class="font-weight-bold">Ommer</p>
                                <p class="text-secondary">. Location</p>
                                <p class="  small">Qualification : MCA <br>
                                    Experience : 4 YEARS</p>
                            </div>                 
                            <div class="col-md-1">
                                <img src="./image/Group 569.png" width="25rem" alt="image">
                            </div>
                            <div class="col-md-5 p-2"></div>
                            <div class="col-md-2">
                                <input class="rounded-pill bg-primary border-0"  type="button" value="View">
                            </div>
                        </div>

                    
                </div>
                <div class="col-5">
                    <img src="./image/business-finance-employment-female-successful-entrepreneurs-concept-young-confident-businesswoman-glasses-showing-thumbs-up-gesture-hold-laptop-guarantee-best-service-quality 1.png" height="665px" width="320px" alt="">
                </div>
                
            </div>
        </div>
    </div> -->

<!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium expedita, odit omnis nisi ipsum excepturi minus voluptate illo placeat unde cum mollitia ducimus neque repellat debitis. Hic magni esse ab. -->
 <!-- Interview -->
    <div class="row">
        <div class="col-md-6">
            <p class="font-weight-bold">Short List</p>
        </div>
    </div>
        <div class="row">
            <div class="col-md-6 ">
                <input type="search" class="border border-primary w-75 input-sm input-md rounded-pill" placeholder="&#128269; Search by Job Title, Interview date@">
            </div>
        </div>     
            <div class="col-md-10 bg-white rounded mt-2">
                    <div class="col-md-6 mt-3">
                        <div class="col-md-3">
                            <img class="w-75 float-right" src="./image/Logo 27.png" alt="">
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                    Location / Online:Online <br>
                                    Time:10.30 AM</span>
                                    <br>
                                    <button  class="bg-primary border-0 rounded">View</button>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                Location / Online:Online <br>
                                Time:10.30 AM</span>
                                <br>
                                <button  class="bg-primary border-0 rounded">View</button>
                                </div> 
                               </div> 
                            <div class="row">
                                <div class="col-md-6 mt-3">
                                <span class="font-weight-bold">Soicial Media Assistent</span><br>
                                <span>Date of Interview:02/03/23 <br>
                                Location / Online:Online <br>
                                Time:10.30 AM</span>
                                <br>
                                <button  class="bg-primary border-0 rounded">View</button>
                                </div> 
                            </div>
                            
                    </div>   
                                  
                            
                            
            </div>
            