<div class="row ">
    <div class="col-md-6 pr-2 text-md-end ">
      <a class="text-decoration-none text-dark" href="screen17.html">
        <h5>Add member</h5>
      </a>
      </div>
     
     
    <div class="col-md-6   mb-4">
      <a class="text-decoration-none text-dark" href="companymember1.html">
        <h5>List of member</h5>
      </a>
     
    </div>
 </div>
 <div class=" d-flex justify-content-center">
  <div class="row   pt-5  border border-black rounded-5 d-flex justify-content-center w-75">
    <div class="col-md-4  mb-5"></div>
    <div class="col-md-8">
      <form class="float-md-center">
        <label class="pt-2 fw-bold" for="">User ID</label><br>
        <input class="" type="text" placeholder="please enter user ID" style="height: 40px;" ><br>

        <div class="row">
          <div class="col">
            <label class="pt-3 fw-bold" for="">Name</label><br>
            <input class="" type="text" placeholder="please enter first name"style="height: 40px;">
          </div>
          <div class="col  d-flex align-items-md-center pt-5">
            <button type="button" class="btn btn-primary rounded w-md-25  btn-sm ">Remove</button>
          </div>
        </div>
        <label class="pt-3 fw-bold" for="">Designation</label><br>
        <input class="mb-5" type="text" placeholder="please enter first name"style="height: 40px;"><br>
       </form>
      </div>
    </div>
 </div>
