<div class="col-md-10 pt-2">
    <p class="fw-bold fs-4 my-2">Find company Member
      <span class="float-end ">
        <img src="images/Group 5689.png" style="width: 30px; height: 30px;">
        <img src="images/logout (3).png" style="width: 30px; height: 30px;">
      </span>  
    </p>
    <div class="row">
      <form class="form-inline col-md-8">
        <input type="text"  placeholder="search by Name ,Member ID, Designation" class="form-control w-100 border border-dark rounded-pill  h-55">
        </form>
        <hr>
    </div>
    <div class="row ">
      <div class="col-md-6 mx-auto text-center">
        <a class="text-decoration-none text-dark" href="screen17.html">
          <h5>Add member</h5>
        </a>
       
      </div>
      <div class="col-md-6   mb-4">
        <a class="text-decoration-none text-dark" href="companymember.html">
          <h5>Remove member</h5>
        </a>
      
      </div>
   </div>

   <div class=" container-fluid mt-3  border rounded-5 rounded w-75 text-wrap pt-4 px-3 my-md-3">
      <div class="row ">
        <div class="col-md-6 col-sm-12 text-center text-sm-start "><img src="images/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign 1.png"alt="jobseekerimage">
        <p class="fw-bold">User ID <br>
        Manu <br>
        Java Developer <br>
      9876543210 <br>
      manu@gmail.com
  </p>
      <p class="text-sm-center">
        <button class="btn btn-primary btn-sm  rounded-pill">view</button>
        </p>   
        </div>

        <div class="col-md-6 col-sm-12 text-center text-sm-start"><img src="./images/closeup-young-female-professional-making-eye-contact-against-colored-background 1.png" alt="jobseekerimage">
          <p class="fw-bold"> User ID <br>
              Lamiya <br>
              H.R Manager <br>
              9231457680 <br>
              lamiya@gmail.com</p>
          <p class="text-sm-center">
          <button class="btn btn-primary btn-sm  rounded-pill">view</button>
          </p>
        </div>

        <div class="col-md-6 col-sm-12 text-center text-sm-start"><img src="./images/cheerful-indian-businessman-smiling-closeup-portrait-jobs-career-campaign 1.png" alt="jobseekerimage">
          <p class="fw-bold">User ID <br>
              Alexander <br>
              Marketing Executive <br>     
              7865043218 <br>         
              alexander@gmail.com</p>  
          <p class="text-sm-center">
            <button class="btn btn-primary btn-sm  rounded-pill">view</button>
          </p>             
        </div>

        <div class="col-md-6 col-sm-12 text-center text-sm-start"><img src="images/closeup-young-female-professional-making-eye-contact-against-colored-background 1.png" alt="jobseekerimage">
          <p class="fw-bold">User ID <br>

              Catherine <br>
              System Analyst <br>
              8087236956 <br>
              catherin@gmail.com</p>
            <p class="text-sm-center">
                <button class="btn btn-primary btn-sm  rounded-pill">view</button>
            </p>     
        </div>
      </div>
    </div>
 </div>   
