 <div class="container-fluid">
 <div class="row">
  <ng-container *ngFor="let list of addMember">
    <div class="card ml-3 mt-3 pt-2 pl-3 pr-3 custom-card">
      <p class="member-info"><b>{{list.firstName}} <span>{{list.lastName}}</span></b></p>
      <p class="member-info">{{list.userName}}</p>
      <p class="member-info">{{list.email}}</p>
      <p class="member-info">{{list.phone}}</p>
      <p class="member-info">{{list.password}}</p>
      <span class="delete-icon-container" (click)="removeCompanyMember(list.id)">
        <i class="bi bi-trash-fill delete-icon"></i>
      </span>
    </div>
  </ng-container>
</div>
</div>