<div class="row">
    <div class="col-md-3">
            <span style="font-weight: bold;" >All Messages <img src="./image/Arrow - Down 2 (2).png" alt=""></span>
     </div>
     <div class="col-md-2">
        <p class="font-weight-bold text-secondary text-right">...</p>
    </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="./image/adult-serious-businessman-looking-camera 1.png" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
        <div class="col-md-10 pt-3 ">
            <p class="font-weight-bold">Rajeev M.V</p>
        </div>
        <div class="col-md-2 ">
            <p class="text-secondary small">10:58 <br>AM</p>
        </div>
      <div class="row">
        <div class="col-md-10  ">
            <p class="text-secondary small">Java Developer!</p>
        </div>
        <div class="col-md-4  ">
            <img src="" alt="">
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-6">
            <img src="./image/m1.png" width="80rem">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 pt-3 ">
            <p class="font-weight-bold">Anoop R</p>
        </div>
        <div class="col-md-2">
            <p class="text-secondary small">10:56 <br>AM</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4  ">
            <p class="text-secondary small">Python</p>
        </div>
      </div>
      <div class="row pt-3">
        <div class="col-md-6">
            <img src="./image/young-attractive-teenage-girl-wearing-striped-casual-t-shirt-posing-against-pink-wall-with-charming-smile-looks-happy 1 (1).png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 pt-3 ">
            <p class="font-weight-bold">Revathi R.U</p>
        </div>
        <div class="col-md-2">
            <p class="text-secondary small">10:47 <br>AM</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4  ">
            <p class="text-secondary small">Designer</p>
        </div>
      </div>
    </div>
  </div>
