<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12 "  >
            <div class="row"> 
                    <div class="row w-50 d-block mx-auto mt-5" >
                      <h3 class="text-center">Register Here</h3>
                      <form [formGroup]="registerForm" (ngSubmit)="submit()">
                        <label for="">Firstname:</label><br>
                        <input type="text" placeholder="Enter firstname"  class=" form-control" formControlName="firstName" [ngClass]="{'is-invalid':submitted && registerForm.controls['firstName'].errors}">
                        <label for="">Lastname:</label>
                        <input type="text" placeholder="Enter lastName"  class="  form-control" formControlName="lastName" [ngClass]="{'is-invalid':submitted && registerForm.controls['lastName'].errors}">
                        <label for="">Username:</label>
                        <input type="text" placeholder="Enter Username"  class=" form-control" formControlName="userName" [ngClass]="{'is-invalid':submitted && registerForm.controls['userName'].errors}">
                        <label for="">Email:</label>
                        <input type="email" placeholder="Enter email"  class=" form-control" formControlName="email" email [ngClass]="{'is-invalid':submitted && registerForm.controls['email'].errors}">
                        <label for="">Phone:</label>
                        <input type="tel" placeholder="Enter Phone number"  class=" form-control" formControlName="phone" [ngClass]="{'is-invalid':submitted && registerForm.controls['phone'].errors}">
                        <a routerLink="/set-password"></a><button class="submit" class="btn btn-info mt-1">Register</button>
                        <p class="text-center  text-decoration-none">Already have an account? <a routerLink="/login"><b class="text-info">Sign in</b></a></p>
                      </form>
                    </div>
              </div>
         </div>
     </div>
</div> -->


<div class="container-fluid">
  <div class="row justify-content-center ">
      <div class="col-md-12">
          <div class="card p-4">
              <h3 class="text-center mb-4">Register Here</h3>
              <form [formGroup]="registerForm" (ngSubmit)="submit()">
                  <div class="form-group">
                      <label for="firstName">First Name:</label>
                      <input type="text" placeholder="Enter First Name" class="form-control" formControlName="firstName" [ngClass]="{'is-invalid': submitted && registerForm.controls['firstName'].errors}">
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name:</label>
                      <input type="text" placeholder="Enter Last Name" class="form-control" formControlName="lastName" [ngClass]="{'is-invalid': submitted && registerForm.controls['lastName'].errors}">
                  </div>
                  <div class="form-group">
                      <label for="userName">Username:</label>
                      <input type="text" placeholder="Enter Username" class="form-control" formControlName="userName" [ngClass]="{'is-invalid': submitted && registerForm.controls['userName'].errors}">
                  </div>
                  <div class="form-group">
                      <label for="email">Email:</label>
                      <input type="email" placeholder="Enter Email" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && registerForm.controls['email'].errors}">
                  </div>
                  <div class="form-group">
                      <label for="phone">Phone:</label>
                      <input type="tel" placeholder="Enter Phone Number" class="form-control" formControlName="phone" [ngClass]="{'is-invalid': submitted && registerForm.controls['phone'].errors}">
                  </div>
                  <button type="submit" class="btn btn-info btn-block mt-3">Register</button>
              </form>
              <p class="text-center mt-3">Already have an account? <a routerLink="/login"><b class="text-info">Sign in</b></a></p>
          </div>
      </div>
  </div>
</div>
