<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="background">
          <div class="shape"></div>
          <div class="shape"></div>
        </div>
        <form #loginForm="ngForm">
          <h3>Login Here</h3>

          <label for="username">Username</label>
          <input type="text" placeholder="Email or Phone" name="email" #email="ngModel" required ngModel>
          <div *ngIf="email.invalid && email.touched" class="text-danger">Enter Valid Email</div>

          <label for="password">Password</label>
          <input type="password" placeholder="Password" name="password" #password="ngModel" required ngModel>
          <div *ngIf="password.invalid && password.touched" class="text-danger">Enter Password</div>

          <a [routerLink]="['/home']"><button [disabled]="loginForm.invalid">Log In</button></a>
          <a routerLink="/forgot-password"><p class="text-decoration-none text-white mt-2 ms-3 float-end">Forgot password?</p></a>
         <div><p>Dont have an account? <a routerLink="/register"><span>signUp</span></a></p>
          </div>
        </form>
      </div>
    </div>
  </div>