<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="login-container">
                <h2>Login</h2>
                <form class="login-form" action="#" method="post">
                  <input type="text" name="username" placeholder="Username" required>
                  <input type="password" name="password" placeholder="Password" required>
                  <a  [routerLink]="['/home']"> <button  class="p-3 text-white fs-4 border border-0 mt-5 " >Log In</button></a>
                </form>
              </div>
        </div>
    </div>
</div>
