<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col py-4">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                    </nav>
                    <div class="formdiv py-4 ml-5 pl-5 shadow">
                        <h4>Post Interview</h4>
                        <hr class="line2" width="85%">
                        <form  >
                            <!-- <div class="form-group">
                                <label  class="form-label"><b>Application Id</b></label>
                                <input type="text"  placeholder="Please Enter applicationId" class="form-control bg-light shadow-sm border-0 w-75" formControlName="applicationId" required>
                            </div> -->
                            <div class="form-group">
                                <label  class="form-label"><b>Date</b></label>
                                <input type="date"  placeholder="Please Enter Date" class="form-control bg-light shadow-sm border-0 w-75" formControlName="date" required>
                            </div>
                            <div class="lastdiv d-flex  align-items-center">
                                <div class="mb-3 pl-5 d-md-block">
                                    <button class="btn btn-primary mt-1">post</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>