<!-- component working!!!!! -->
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="card pt-2 pl-3 pr-3">
                <ng-container *ngFor="let list of company">
                    <p>Company Name: {{list.legalName}}</p>
                    <p>Summary: {{list.summary}}</p>
                    <p>Industry: {{list.industryId}}</p>
                    <p>Email: {{list.email}}</p>
                    <p>Address: {{list.address}}</p>
                    <p>Website: {{list.website}}</p>
                    <p>Location: {{list.location}}</p>
                </ng-container>
            </div>
            
        </div>
    </div>
</div>