<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card pt-2 pl-3 pr-3 custom-card">
                <ng-container *ngFor="let list of company">
                    <p class="name">{{list.legalName}}</p>
                    <p class="summary">{{list.summary}}</p>
                    <p class="email">{{list.email}}</p>
                    <p class="address">{{list.address}}</p>
                    <p class="website"><a href="#">{{list.website}}</a></p>
                </ng-container>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 d-flex justify-content-center mt-2">
            <button class="btn btn-secondary">update</button>
        </div> 
    </div>
</div>